<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
    <div class="row">
      <div class="small-2 large-8 medium-8 columns">
        <div class="row">
          <div class="small-2 large-12 columns">
						<% flash.each do |key, value| %>
							<div class="alert alert-<%= key %>"><%= value %></div>
						<% end %>
						<%= yield %>
						<%= render 'layouts/footer' %>
						<%= debug(params) if Rails.env.development? %>
					</div>
				</div>			
			</div>
		</div>
	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/what-input.js"></script>
	<script src="js/vendor/foundation.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
